{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

	<div id="sub-main-product-addition">

		<div class="clear"></div> 

		<div class="content-box">
			
			<div class="content-box-header">
				<h3>Add Product</h3>
			</div>

			<div class="content-box-content">						
				<div class="tab-content default-tab"> 
					<div class="container-fluid">
						<div class="product_form">

							<form method="POST">{% csrf_token %}
						        <div class="column-left">
						        	<p>
							            {{ form.company|as_crispy_field }}
							        </p>
						        </div>
						        <div class="column-right">
							        <p>
							            {{ form.label|as_crispy_field }}
							        </p>
						        </div>
						        <div class="clear"></div>
						        <div class="column-left">
							        <p>
							            <label>Branch*</label>
							            <input type="text" name="branch" class="text-input large-input">
							        </p>
							    </div>
						        <div class="column-right">
							        <p>
							            <label>Area*</label>
							            <input type="text" name="area" class="text-input large-input">
							        </p>
							    </div>
						        <div class="clear"></div>
							    <div class="column-left">
							        <p>
							            <label>Level*</label>
							            <input type="number" name="level" class="text-input large-input">
							        </p>
							    </div>
						        <div class="clear"></div>
						        <div class="form-group">
						            <input type="submit" name="" class="button" value="Add Product">
						        </div>
						    </form>
						    
						</div>
					</div>
				</div> 
			</div> 	
		</div> 


		<div class="clear"></div>
		
	</div>

{% endblock %}